/* reset css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
:root {
    --primaryColor: #e5761d;
}
body{
    width: 100%;
    height: 100vh;
    background: url(../img/hero/bg.jpg);
    background-repeat: no-repeat;
    font-family: 'Dizhitl', sans-serif;
}

a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: .8rem;
    color: #fff;
}
.navigation{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height:4.7rem;
    align-items: center;
    transition: .9s;
}
.navigation:hover{
    /* background: rgba(0, 0, 0, 0.5); */
    background: #252525;

}
/* logo  */
.navigation .logo img{
    width: 7rem;
}
.navigation .logo a{
    position: relative;
}
.navigation .logo a:hover{
    transition: .5s;
}
.navigation .logo a::after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: -.3rem;
    transform: translateX(-50%) scaleX(0);
    transform-origin: 50% 50%;
    width: 100%;
    height: 1px;
    background:#E7751D;
    transition: transform 250ms;
}
.navigation .logo a:hover::after{
    transform: translateX(-50%) scaleX(1);
}

/* nav-menu  */

.navigation .nav-menu > ul{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.navigation .nav-menu ul li{
    list-style: none;
}
.navigation .nav-menu ul li a{
    position: relative;
}
.navigation .nav-menu ul li:not(:last-of-type){
    margin-right: 3.5rem;
}
.navigation .nav-menu ul li a:hover{
    color:#E7751D;
    transition: .5s;
}
.navigation .nav-menu > ul li a:after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) scaleX(0);
    transform-origin: 50% 50%;
    width: 100%;
    height: 1px;
    background:#E7751D;
    transition: transform 250ms;
}
.navigation ul li a:hover::after{
    transform: translateX(-50%) scaleX(1);
}

/* dropdown  */




/* contact us button  */
 
.contact__us-btn a{
    position: relative;
    padding: 10px 70px 10px 15px;
    border: 2px solid #B45913;
}
.contact__us-btn a:hover{
    background: #B45913;
    transition: .5s;
}
.contact__us-btn a::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 40px;
    width: 2.1975rem;
    height: 100%;
    background-color: transparent;
    border-left: 1px solid #E7751D;
    display: block;
}
.contact__us-btn a:hover::after{
    content: '';
    background: #E7751D;
    transition: .5s;
}

 .navigation__cta::before{
    content: '\203A';
    position: absolute;
    top: 30%;
    right: 10%;
    z-index: 2;
 }

/* Dropdown Start Here  */


/* hero section start here  */

.hero-wrapper{
    padding: 5rem 17.5rem 8.125rem 15rem;
    display: grid;
    grid-template-columns: auto auto;
}
.hero-content{
    width: 49.5%;
    position: relative;
    z-index: 5;
}
.headaer-subtitle{
    font-size: 1rem;
    color: #E7751D;
    display: block;
    font-family: "Forza", sans-serif;
    font-weight: bold;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.15px;
    line-height: 1.1;
    margin-bottom: 0.75rem;
}
.header-title{
    width: 130%;
    font-size: 2.3rem;
    line-height: 1.1;
    color: #fff;
}
.content-text{
    width: 80%;
    margin-bottom: 2.25rem;
    color: #fff;
    font-size:1.2rem ;
    font-family: sans-serif;
}
p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
/* contact us  */

.hero-content .contact__us-btn a{
    background: #B45913;
    padding: 10px 55px 10px 30px;
}
.hero-content .contact__us-btn a::after{
    background: #E7751D;
}
.hero-content .navigation__cta::before{
    right: 6%;
 }

 /* hero-media  */

 .hero__media{
     position: relative;
     width: 49.5%;
     position: relative;
     z-index: 3;
     margin-bottom: 5rem;
 }
 .hero__media::before{
    content: "";
    position: absolute;
    top: 30px;
    top: 1.875rem;
    left: -16rem;
    z-index: 2;
    width: 480px;
    height: 222px;
    background-color: #e7751d;
    box-sizing: inherit;
 }
 .hero__picture{
     position: absolute;
     display: block;
 }
 .hero__picture-main{
     position: relative;
     width: 246px;
     height: 380px;
     z-index: 2;
 }
 .hero__picture-main::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 28.5%;
    z-index: 2;
    width: 21.5%;
    height: 100%;
    background-color: rgba(231, 117, 29, .9);
    mix-blend-mode: color;
    z-index: 3;
 }

 .hero img{
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
 }
 .hero__media-main{
    position: relative;
    z-index: 3;
    left: -8px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
 }
 .hero__media-main::before{
    content: '';
    display: block;
    position: absolute;
    z-index: 2;
    background-image: url(../img/general/dots.svg);
    background-size: 6.25rem;
    background-position: center;
    width: 224px;
    height: 295px;
    bottom: -40px;
    bottom: -1.5rem;
    right: -.5rem;
 }

 .hero__picture-bottom{
    width: 100%;
    max-width: 130px;
    height: 135px;
    bottom: 0;
    left: -7rem;
    z-index: 5;
    transform: translate(25px, -25px);
 }
 /* .hero__picture-bottom::after{
    content: '';
    display: inline-block;
    width: 100%;
 } */
 .hero__picture-top {
    width: 100%;
    max-width: 130px;
    height: 135px;
    top: 0;
    right: -13rem;
    z-index: 6;
    transform: translate(-25px, 25px);
}
.hero__picture-top::before{
    content: '';
    position: absolute;
    display: block;
    z-index: 1;
    background-image: url(../img/general/dots.svg);
    background-size: 6.25rem;
    width: 224px;
    height: 200px;
    bottom: -3.1rem;
    right: 6.1rem;
}

.opens{
    width: 100%;
    height: 100vh;
    background: #252525;
    margin-top: -200px;
}










/* main menu style css mark up */
.mainMenu {
    text-align: center;
    height: 50px;
}
.mainMenu > li{
    display: inline-block;
    position: relative;
}

.mainMenu > li > a {
    padding: 16px 20px;
    display: block;
}
/* drop menu styling */
.dropMenu {
    position: absolute;
    width: 370px;
    height: 100vh;
    text-align: center;
    list-style: none;
    top: 51px;
    left: -7rem;
    display: none;
    background: #252525;
    z-index: 99;
    padding: 15px 10px;
}
.dropMenu > li{
    background: #333333;
    opacity: 0;
    text-align: center;
    margin-left: 2.3rem;
    border-bottom: 15px solid #252525;
    width: 80%;
}
.dropMenu > li:hover{
    background: #555555;
    transition: .5s;
}

.dropMenu li a {
    padding: 28px 15px;
    display: block;
    color: rgba(235, 235, 235, .5);
}
.dropMenu li a:hover{
    color: #fff !important;
}
.mainMenu > li:hover .dropMenu {
    display: block;
}
.dropMenu img{
    position: absolute;
    left: 7%;
    top: 20%;
}
.dropMenu > li:hover::after{
    content: '\203A';
    position: absolute;
    top: 32%;
    right: 16%;
    color: #fff;
}
.dropMenu > li:hover::before{
    content: '';
    position: absolute;
    top: 18%;
    right: 10%;
    z-index: 1;
    width: 40px;
    width: 2.3rem;
    height: 60%;
    background-color: transparent;
    border: 1px solid #fff;
    display: block;
}

/* some css animation styling */

.dropMenu > li:nth-child(1) {
    animation: sliding 300ms 0ms linear forwards;
}
.dropMenu > li:nth-child(2) {
    animation: sliding 300ms 100ms linear forwards;
}
.dropMenu > li:nth-child(3) {
    animation: sliding 300ms 200ms linear forwards;
}
.dropMenu > li:nth-child(4) {
    animation: sliding 300ms 300ms linear forwards;
}
.dropMenu > li:nth-child(5) {
    animation: sliding 300ms 400ms linear forwards;
}
.dropMenu > li:nth-child(6) {
    animation: sliding 300ms 500ms linear forwards;
}

@keyframes sliding {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@-webkit-keyframes sliding {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
}
}